/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  position: fixed;
  align-items: center;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 5;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  color: seashell;
}

.logo img {
  width: auto;
  height: 50px;
  padding-left: 10px;
}

.navigation {
  display: block;
  padding-right: 10px;
}

.navigation span {
  padding: 20px 10px;
  text-decoration: underline;
}

a {
  color: seashell;
}


h2, h3, h4 {
  margin: 0;
  padding: 10px;
}


/* Main Conent Section */

body {
  font-family: Helvetica;
  font-size:  22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

.content {
  padding-top: 69px;
  width: 100%;
  opacity: .9;
  margin: auto;
}

.mission-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 700px;
  width: 1020px;
  padding-top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission-banner {
  margin: auto;
  background-color: black;
  width: 100%;
  justify-content: center;
  align-content: center;
  z-index: 2;
}




.specials-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-top: 70px;
}

.monthly-specials {
  justify-content: center;
  display: block;
  width: 1000px;
  flex-flow: wrap row;
  margin: auto;
  padding-top: 10px;
}

.specials {
  display: inline-flex;
  width: 100%;
  flex-flow: wrap row;
  justify-content: center;
}

.special {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.special img {
  width: 300px;
  height: 200px;
}


/* Footer Section */
